* {
  box-sizing: border-box;
}
.logo-height {
  height: 35px;
  display: block;
}
.text-box {
  width: 760px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.05px;
}
.text-white {
  color: #fff;
}
.text-gray {
  color: #5f5f5f;
  font-size: 15px;
}
.text-light-black {
  color: #171717;
}
.text-gap-30 {
  height: 30px;
}
.text-gap-80 {
  height: 80px;
}
.background-white {
  background-color: #fff;
}
.background-black {
  background-color: #000;
  color: #fff;
}
.background-gray {
  background-color: #fafafa;
}
.background-gray-light {
  background-color: #f6f6f6;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-700 {
  font-weight: 700;
}
.text-uppercase {
  text-transform: uppercase;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  align-items: center;
}
.layout-column-100 {
  flex-basis: 100%;
}
.layout-column-75 {
  flex-basis: 75%;
}
.layout-column-65 {
  flex-basis: 58.333333%;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-start;
}
.layout-column-41 {
  flex-basis: 41.6666666%;
  padding-left: 10px;
  padding-right: 10px;
  align-self: flex-start;
}
.layout-column-50 {
  flex-basis: 50%;
}
.layout-column-33 {
  flex-basis: 33.3333333%;
  position: relative;
}
.layout-column-25 {
  flex-basis: 25%;
}
body {
  background-color: #fff;
  margin: 0;
  height: 2900px;
}
main {
  width: 100%;
}
header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}
nav {
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: #fff;
  color: var(--nav-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 51px;
  margin: 0;
}
blockquote {
  font-style: italic;
  font-size: 20px;
  letter-spacing: 0.05px;
  font-weight: 400;
  line-height: 30px;
}
blockquote:before {
  content: open-quote;
  vertical-align: top;
}
blockquote:after {
  content: close-quote;
  vertical-align: bottom;
}
input {
  padding: 16px 22px;
  width: 100%;
  border: none;
}
textarea {
  width: 100%;
  padding: 16px 22px;
  border: none;
}
form {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
input:focus {
  outline: 0;
}
textarea:focus {
  outline: 0;
}
footer {
  background-color: #ebebeb;
}
.nav-container {
  width: 1140px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-lists {
  display: flex;
  width: 520px;
  justify-content: space-between;
  text-transform: uppercase;
  cursor: pointer;
  color: #5f5f5f;
  font-weight: 500;
  font-size: 14.4px;
}
.nav-li:hover {
  color: #010101;
}
.header-all {
  height: 850px;
  width: 100%;
  margin-top: 101px;
  overflow: hidden;
  position: relative;
}
.header-background-image {
  position: absolute;
  background-image: url(../image/bg-image.jpg);
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}
.header-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  height: 700px;
  padding-top: 50px;
}
.header-area {
  width: 1100px;
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.header-text-title {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}
.header-text-main {
  font-size: 51px;
  line-height: 70px;
  font-weight: 700;
  letter-spacing: 0.05px;
}
.button-send {
  margin-top: 35px;
  width: 200px;
  font-size: 14.4px;
  font-stretch: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #1e1e1e;
  border: 0;
  line-height: 17.28px;
  cursor: pointer;
}
.button-send:hover {
  background-color: #505050;
  transition: 0.3s;
}
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}
.container h2 {
  font-size: 39px;
  color: #171717;
}
.achievement-text-align {
  text-align: left;
}
.portfolio-image-size {
  height: 386.66666px;
  width: 386.66666px;
  object-fit: cover;
  display: block;
}
.portfolio-text {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}
.portfolio-layout {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}
.portfolio-li:hover .portfolio-layout {
  opacity: 1;
  transition: 0.5s;
}
.portfolio-li:hover .portfolio-text {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.3s;
  cursor: pointer;
}
.portfolio-text h2 {
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.05px;
}
.portfolio-text p {
  color: #fff;
  font-size: 14.25px;
  letter-spacing: 0.05px;
}
.quote-white {
  width: 715px;
  margin-left: auto;
  margin-right: auto;
}
.quote-font-size {
  font-size: 16x;
}
.partner-image-size {
  width: 228px;
  height: 228px;
  object-fit: cover;
  display: block;
}
.blog-container {
  margin-left: 15px;
  margin-right: 15px;
}
.blog-image-size {
  width: 356.66px;
  height: 220px;
  object-fit: cover;
  display: block;
}
.blog-text {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.blog-title h2 {
  font-size: 21px;
  font-weight: 700;
  opacity: 1;
}
.blog-title:hover {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.blog-thumbnail {
  position: relative;
  opacity: 1;
}
.blog-thumbnail:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.blog-article {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 90px;
  height: 30px;
  background-color: #252525;
  color: #fff;
  font-size: 12px;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-article-link {
  display: block;
}
.contact-info-align {
  text-align: left;
}
.contact-info p {
  color: #5f5f5f;
  font-size: 15px;
}
.contact-info h2 {
  color: #171717;
  margin: 10px 0 25px 0;
}
.your-name {
  padding-right: 10px;
}
.your-email {
  padding-left: 10px;
}
.contact-li {
  line-height: 24.75px;
}
.contact-li {
  padding-top: 5px;
}
.footer-container {
  text-align: center;
  color: #5f5f5f;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 44px;
  padding-bottom: 44px;
}
