* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 1270px;
  margin-left: auto;
  margin-right: auto;
  background: seashell;
}
main {
  display: flex;
  height: 720px;
  background: #ffffff;
}
main > article {
  flex: 1;
}
main > nav,
main > aside {
  flex: 0 0 200px;
  background: #efefef;
}
main > nav {
  order: -1;
}
header,
footer,
article,
nav,
aside {
  padding: 10px;
}

footer {
  font: normal 100% roboto, sans-serif;
  height: 72px;
  padding: 24px 0 5px 0;
  text-align: center;
  background: #707070;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
}
nav {
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

h1,
h3,
h4,
h5 {
  font: normal 175% Roboto, sans-serif;
  color: #43423f;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h4,
h5 {
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% aRoboto, sans-serif;
  color: #416593;
}

h5 {
  font: italic 95% Roboto, sans-serif;
  padding: 0 0 15px 0;
  color: #000;
}

header {
  background: #527092;
  height: 72px;
  text-align: center;
}

aside {
  float: right;
  width: 220px;
  padding: 0 15px 20px 15px;
}

.main_content {
  text-align: left;
  padding: 0;
  display: flex;

}

.option
{padding-top: 100px;
}