* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: normal 0.8em Roboto, sans-serif;
  background: #e7e7e7;
  color: #777;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

h1,
h3,
h4,
h5 {
  font: normal 175% Roboto, sans-serif;
  color: #43423f;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h4,
h5 {
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% aRoboto, sans-serif;
  color: #416593;
}

h5 {
  font: italic 95% Roboto, sans-serif;
  padding: 0 0 15px 0;
  color: #000;
}

main,
#logo,
nav,
.site_content,
footer {
  margin-left: auto;
  margin-right: auto;
}

header {
  background: #527092;
  height: 72px;
}

.logo {
  padding-left: 520px;
}

nav {
  width: 877px;
  height: 72px;
  padding: 0;
  background: #29415d;
}

.menu,
.menu li {
  float: left;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
}

.menu li a {
  letter-spacing: 0.1em;
  font: normal 100% Roboto, sans-serif;
  display: block;
  float: left;
  height: 72px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.menu li a:hover,
.menu li.selected a,
.menu li.selected a:hover {
  color: #fff;
  background: #1c2c3e;
}

.site_content {
  width: 877px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #fff;
}

aside {
  float: right;
  width: 220px;
  padding: 0 15px 20px 15px;
}

.main_content {
  text-align: left;
  width: 595px;
  padding: 0;
}

footer {
  width: 877px;
  font: normal 100% roboto, sans-serif;
  height: 72px;
  padding: 24px 0 5px 0;
  text-align: center;
  background: #707070;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
}
